@charset "utf-8";

* {
    box-sizing: border-box;
    font-family: メイリオ;
    margin: 0px;
}
body {
    background: #f8d8bf;
    margin: 0px;
    padding: 0px;
}
article {
    width: 800px;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    position: relative;
}
header {
    background: #f83;
    color: #fff;
    padding-left: 10px;
    position: absolute;
    top: 40px;
    left: 0;
}
section {
    background: #fff;
    border: solid;
    border-color: darkgrey;
    border-width: 1px;
    margin-bottom: 20px;
}
img {
    display: block;
    width: 850px;
    max-width: 100%;
    margin-bottom: 40px;
}
h2 {
    color: #f83;
    margin: 10px;
}
ul,ol {
    color: black; 
    height: auto;
}
address {
    text-align: center;
}
.flexCountiner {
    display: flex;
    justify-content: space-around;

}
.btnArea {
    margin-top: 40px;
}
p.btn {
    width: 300px;
    text-align: center;
    margin: 0 auto 40px
    
}
p.btn a {
    display: block;
    padding: 20px;
    background: coral;
    color: #fff;
    text-decoration-line: none;
    border-radius: 8px;
    font-size: 1.2em;
}